main::before {
 background: #ffffff !important;
}

.card-title {
 color: #2A3481;
 font-weight: 600;
}

.card {
 background: #ffffff;
}

button.btn.btn-info {
 background:#f16334 !important;
 border-color:#f16334 !important;
}

button.btn.btn-info:hover {
 background:#f16334 !important;
 border-color:#f16334 !important;
}

button.btn.btn-info:disabled {
 background: gray !important;
 border-color: gray !important;
}

button.btn.btn-info:disabled :hover{
 background: gray !important;
 border-color: gray !important;
}

a {
 color: #f16334 !important;
 text-decoration: none !important;
}

.modal-title.h4 {
    font-size: 18px !important;
    color: black !important;
}

.model-body.p {
    margin-bottom: 12px !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 15px !important;
    line-height: 22px !important;
    color: #5093E3 !important;
}

.modal-content {
    background-color: #F9F9F9 !important;
}

button.btn.btn-default {
    border-width: 1px !important;
    color: #55D7D2 !important;
    background: transparent !important;
    border-color: rgb(58,	147, 142) !important;
}

button.btn.btn-primary {
    background: #55D7D2 !important;
    border-color: #45ADA8 !important;
}

button.btn.btn-primary:hover {
    background: #55D7D2 !important;
    border-color: #45ADA8 !important;
}

