main::before {
 background: #ffffff !important;
}

.card-title {
 color: #324191;
 font-weight: 600;
}

.card {
 background: #ffffff;
}

button.btn.btn-info {
 background:#FF3546 !important;
 border-color:#FF3546 !important;
}

button.btn.btn-info:hover {
 background:#FF3546 !important;
 border-color:#FF3546 !important;
}

button.btn.btn-info:disabled {
 background: gray !important;
 border-color: gray !important;
}

button.btn.btn-info:disabled :hover{
 background: gray !important;
 border-color: gray !important;
}

a {
 color: #FF3546 !important;
 text-decoration: none !important;
}

.modal-title.h4 {
    font-size: 18px !important;
    color: black !important;
}

.model-body.p {
    margin-bottom: 12px !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 15px !important;
    line-height: 22px !important;
    color: #3F52B5 !important;
}

.modal-content {
    background-color: #788F9C !important;
}

button.btn.btn-default {
    border-width: 1px !important;
    color: #3F52B5 !important;
    background: transparent !important;
    border-color: rgb(50, 65, 145) !important;
}

button.btn.btn-primary {
    background: #3F52B5 !important;
    border-color: #324191 !important;
}

button.btn.btn-primary:hover {
    background: #3F52B5 !important;
    border-color: #324191 !important;
}

